<%= form_tag "/search", method: "GET", class: "form-search navbar-search pull-right" do %>
  <div class="input-append">
    <%= search_field_tag :q, "", class: "input-medium search-query" %>
    <%= submit_tag "Search", class: "btn" %>
  </div>
<% end %>